<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/Game.js"></script>
    <script src="~/Scripts/Game/Controller.js"></script>

    <script src="~/Scripts/Game/Keyboard.js"></script>
    <script src="~/Scripts/Game/Materials.js"></script>
    <script src="~/Scripts/Game/Display.js"></script>
    <script src="~/Scripts/Game/Sounds.js"></script>
    <script src="~/Scripts/Game/Stats.js"></script>
    <script src="~/Scripts/Game/Puzzle/Data/Block.js"></script>
    <script src="~/Scripts/Game/Puzzle/Data/BlockQue.js"></script>
    <script src="~/Scripts/Game/Puzzle/Data/Effect.js"></script>
    <script src="~/Scripts/Game/Puzzle/Data/GravityInstance.js"></script>
    <script src="~/Scripts/Game/Puzzle/Stateful/Gravity.js"></script>
    <script src="~/Scripts/Game/Puzzle/Stateful/MoveBlocksUp.js"></script>
    <script src="~/Scripts/Game/Puzzle/Stateful/Selector.js"></script>
    <script src="~/Scripts/Game/Puzzle/Stateful/CheckSet.js"></script>
    <script src="~/Scripts/Game/Puzzle/Stateful/RemoveSet.js"></script>
    <script src="~/Scripts/Game/Puzzle/Stateful/SetupBlocks.js"></script>
    <script src="~/Scripts/Game/Puzzle/Stateful/Support.js"></script>
    <script src="~/Scripts/Game/Puzzle/Puzzle.js"></script>
    <script src="~/Scripts/Game.js"></script>

</head>
<body style="background-color: #D4D4D4; ">
    <center>
        <canvas id="myCanvas" width="800" height="710">
        </canvas>
    </center>
</body>


</html>
<script>
    Load();
</script>