<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/Sounds.js"></script>
    <script src="~/Scripts/Stats.js"></script>
    <script src="~/Scripts/Materials.js"></script>
    <script src="~/Scripts/Block.js"></script>
    <script src="~/Scripts/Puzzle.js"></script>
    <script src="~/Scripts/Selector.js"></script>
    <script src="~/Scripts/Keyboard.js"></script>
    <script src="~/Scripts/Controller.js"></script>
    <script src="~/Scripts/Display.js"></script>
    <script src="~/Scripts/Game.js"></script>
</head>
<body style="background-color: #D4D4D4; ">
   <div id =" style=" position: absolute; left: 150px; top: 75px;">

   </div>
    <center>
        <h1>Puzzle JS</h1>
        <canvas id="myCanvas" width="800" height="800" style="border:1px solid #000000;">


        </canvas>
    </center>
</body>


</html>
<script>
    Load();
</script>