<!DOCTYPE html>
<html>
<head>
    <title></title>

    <script src="~/Scripts/Model/Puzzle/Block.js"></script>
    <script src="~/Scripts/Model/Puzzle/BlockAttacks.js"></script>
    <script src="~/Scripts/Model/Puzzle/BlockState.js"></script>
    <script src="~/Scripts/Model/Puzzle/Color.js"></script>
    <script src="~/Scripts/Model/Puzzle/Effect.js"></script>
    <script src="~/Scripts/Model/Puzzle/FindBlockSets.js"></script>
    <script src="~/Scripts/Model/Puzzle/Gravity/BlockStateAfterGravity.js"></script>
    <script src="~/Scripts/Model/Puzzle/Gravity.js"></script>
    <script src="~/Scripts/Model/Puzzle/PushBlocksUp.js"></script>
    <script src="~/Scripts/Model/Puzzle/RemoveBlocks/RemovalInstance.js"></script>
    <script src="~/Scripts/Model/Puzzle/RemoveBlocks.js"></script>
    <script src="~/Scripts/Model/Puzzle/Selector.js"></script>
    <script src="~/Scripts/Model/Puzzle/SoundRequest.js"></script>
    <script src="~/Scripts/Model/Game.js"></script>
    <script src="~/Scripts/Model/Player.js"></script>
    <script src="~/Scripts/Model/Puzzle.js"></script>
    <script src="~/Scripts/View/DisplayManager/InputManager/ImageType.js"></script>
    <script src="~/Scripts/View/DisplayManager/ImageManager.js"></script>
    <script src="~/Scripts/View/InputManager/Joystick/Button.js"></script>
    <script src="~/Scripts/View/InputManager/Joystick/ButtonState.js"></script>
    <script src="~/Scripts/View/InputManager/Joystick/JoystickState.js"></script>
    <script src="~/Scripts/View/InputManager/Joystick.js"></script>
    <script src="~/Scripts/View/InputManager/Keyboard/KeyboardState.js"></script>
    <script src="~/Scripts/View/InputManager/Keyboard/Keys.js"></script>
    <script src="~/Scripts/View/InputManager/Keyboard/KeyState.js"></script>
    <script src="~/Scripts/View/InputManager/Keyboard.js"></script>
    <script src="~/Scripts/View/AudioManager.js"></script>
    <script src="~/Scripts/View/DisplayManager.js"></script>
    <script src="~/Scripts/View/GameManager.js"></script>
    <script src="~/Scripts/View/InputActions.js"></script>
    <script src="~/Scripts/View/InputManager.js"></script>
    <script src="~/Scripts/Controller/GameController.js"></script>
    <script src="~/Scripts/Application.js"></script>
    <script src="~/Scripts/Stats.js"></script>

</head>
<body style="background-color: #D4D4D4; ">
    <center>
        <canvas id="myCanvas" width="800" height="710">
        </canvas>
    </center>
</body>


</html>
<script>
    var canvas = document.getElementById('myCanvas');
    var application = new Application(canvas);
    application.run();
</script>