<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/Scripts/Enumeration/BlockState.js"></script>
    <script src="~/Scripts/Enumeration/Button.js"></script>
    <script src="~/Scripts/Enumeration/ButtonState.js"></script>
    <script src="~/Scripts/Enumeration/Color.js"></script>
    <script src="~/Scripts/Enumeration/ImageType.js"></script>
    <script src="~/Scripts/Enumeration/Keys.js"></script>
    <script src="~/Scripts/Enumeration/KeyState.js"></script>
    <script src="~/Scripts/Enumeration/SoundRequest.js"></script>
    <script src="~/Scripts/DataTypes/Block.js"></script>
    <script src="~/Scripts/DataTypes/BlockAttacks.js"></script>
    <script src="~/Scripts/DataTypes/JoystickState.js"></script>
    <script src="~/Scripts/DataTypes/Effect.js"></script>
    <script src="~/Scripts/DataTypes/GravityInstance.js"></script>
    <script src="~/Scripts/DataTypes/KeyboardState.js"></script>
    <script src="~/Scripts/DataTypes/RemoveSet.js"></script>
    <script src="~/Scripts/DataTypes/InputActions.js"></script>
    <script src="~/Scripts/Model/Puzzle/GetNewSets.js"></script>
    <script src="~/Scripts/Model/Puzzle/Gravity.js"></script>
    <script src="~/Scripts/Model/Puzzle/MoveBlocksUp.js"></script>
    <script src="~/Scripts/Model/Puzzle/RemoveSet.js"></script>
    <script src="~/Scripts/Model/Puzzle/Selector.js"></script>
    <script src="~/Scripts/Model/Puzzle/SetupBlocks.js"></script>
    <script src="~/Scripts/Model/Puzzle/Support.js"></script>

    <script src="~/Scripts/Model/Puzzle.js"></script>
    <script src="~/Scripts/Model/Player.js"></script>
    <script src="~/Scripts/Model/Game.js"></script>
    <script src="~/Scripts/View/InputManager/Joystick.js"></script>
    <script src="~/Scripts/View/InputManager/Keyboard.js"></script>
    <script src="~/Scripts/View/AudioManager.js"></script>
    <script src="~/Scripts/View/DisplayManager/ImageManager.js"></script>
    <script src="~/Scripts/View/DisplayManager.js"></script>
    <script src="~/Scripts/View/GameManager.js"></script>
    <script src="~/Scripts/View/InputManager.js"></script>
    <script src="~/Scripts/View/Stats.js"></script>
    <script src="~/Scripts/Controller/GameController.js"></script>
    <script src="~/Scripts/Application.js"></script>
</head>
<body style="background-color: #D4D4D4; ">
    <center>
        <canvas id="myCanvas" width="800" height="710">
        </canvas>
    </center>
</body>


</html>
<script>
    var canvas = document.getElementById('myCanvas');
    var application = new Application(canvas);
    application.run();
</script>